<div>
<!--  human-->
  <div style="width: 100%">
  <div class="human-message">{{this.question_text}}</div>
  </div>
<!--  ai-->
  <div style="width: 100%">
  <div class="ai-message">{{this.answer_text}}</div>
  </div>
</div>


