<!DOCTYPE html>
<html lang="en">
  <header>
    <h1>
      <a href="/">Teach Bot</a>
    </h1>
    <nav>
      <a href="/login">login</a>
    </nav>
  </header>
  <form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>
<script src="/javascript/login.js"></script>
</html>