
      <div class="container">
          <img src="" alt="Avatar">
          <p>Welcome! Chat Bot is here to help!</p>
          <span class="time-right"></span>
      </div>
      <div>
        {{logger topics}}
        {{logger questions}}
          <ul id="messages"></ul>
          <input id="chatbox" type="text">
          <img src="" alt="Avatar">
          <p>{{message}}</p>
      </div>
      <button id="button">Send</button>
    <script src="../public/javascript/message.js"></script>
