<div class="chatbot-wrapper">

  <!--Topics-->
  <div id="topics">
    <h3>Topics</h3>
    {{#each topics as |topic|}}
      {{> topic topic}}
    {{/each}}
  </div>

  {{#if topic_id}}
  <!--        Messages-->
  <div class="chat-wrapper">
    <div id="messages">
      {{#each questions as |question|}}
        {{> question question}}
      {{/each}}
    </div>
    <div class="input-container">
    <button class="clear-history">Clear History</button>
      <form id="questionForm" style="display:flex; width: 100%">
          <input id="inputMessages" class="message-input" />

        <button class="submit-question">Submit</button>
      </form>
    </div>
  </div>
  {{/if}}
</div>
<!--      <button id="button">Send</button>-->
<script src="/javascript/message.js"></script>
