<div class="homepage-section">
<h1>Welcome, From Your Friend Teach Bot!</h1>
<p>I am a learning bot designed to help you with your programming needs. My goal is to help you improve your programming knowledge and answer your most desired developer questions. Above you will find the Signup or the Login link to get started. Enjoy!</p>
</div>
<br>
<div class="sub-section">
  <h2>What We Can Help You With</h2>
</div>

<div class="row">
  <div class="column" style="background-color:rgb(192, 200, 191);">
    <img src="javascript.jpeg" width="600" height="400">
  <div class="desc">Javascript</div>
  </div>
  <div class="column" style="background-color:rgb(192, 200, 191);">
    <img src="html.jpeg" width="600" height="400">
  <div class="desc">HTML</div>
  </div>
  <div class="column" style="background-color:rgb(192, 200, 191);">
    <img src="css.jpeg" width="600" height="400">
  <div class="desc">CSS</div>
  </div>
</div>


