<div class="homepage-section">
<h1>Welcome, From Your Friend Teach Bot!</h1>
<p>I am a learning bot designed to help you with your programming needs. My goal is to help you improve your programming knowledge and answer your most desired developer questions. Above you will find the Signup or the Login link to get started. Enjoy!</p>
</div>
<div class="sub">
<h2>How Does It Work?</h2>
<p>Once you are logged in, the webpage will take you to our Chatbot section and there you will have a bot to help you with your most desired programming questions. Once you ask a question, the AI will respond to you as best it can. If you exit the page and log back it, the chat box will have a history of the answers. No need to worry about accidently exiting the page and losing your information.</p>
</div>
<br>
<div class="sub-section">
  <h2>What We Can Help You With</h2>
</div>

<div class="row">
  <div class="column" style="background-color:rgb(192, 200, 191);">
    <img src="javascript.jpeg" width="600" height="400">
  <div class="desc">Javascript</div>
  </div>
  <div class="column" style="background-color:rgb(192, 200, 191);">
    <img src="html.jpeg" width="600" height="400">
  <div class="desc">HTML</div>
  </div>
  <div class="column" style="background-color:rgb(192, 200, 191);">
    <img src="css.jpeg" width="600" height="400">
  <div class="desc">CSS</div>
  </div>
</div>
<br>
<div class="sub-end">
<h2>Future Development!</h2>
<p>We are working on adding more programming language responses. We are also working on deleting specific messages rather than the entire topic. We also want the developers to be able to change their password or add a forgot password section.</p>
</div>


