* {
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }

  a {
    text-decoration: none;
    color: #28a567;
    font-weight: bold;
    transition: color .1s;
  }

  a:hover {
    color: #47d65a;
  }

  button {
    background-color: #158a42;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: #158a42;
  }

  .post-list {
    margin: 0;
    padding: 0;
  }

  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #0b571b;
  }

  textarea {
    min-width: 40%;
    min-height: 100px;
  }

  form > div {
    margin-bottom: 2%;
  }

  form label {
    display: block;
  }

  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color:#f3fbf5;
  }

  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: #ddefdf;
    overflow: hidden;
  }

  header h1 {
    font-size: 1em;
  }
  header nav {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }

  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #47d65a;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }

  .btn-no-style:hover {
    background: none;
    color: #10c837;
  }
  /* homepage design*/
  .homepage-section h1 {
    display: flex;
    justify-content: center;
  }
  .homepage-section p {
    text-align:justify;
    border:3px; 
    border-style:solid; 
    border-color:#052d13;
    padding: 1em;
  }
  .sub p {
    text-align:justify;
    border:3px; 
    border-style:solid; 
    border-color:#052d13;
    padding: 1em;
  }
  .sub-end p {
    text-align:justify;
    border:3px; 
    border-style:solid; 
    border-color:#052d13;
    padding: 1em;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
    border-style: solid;
    border-color: #052d13;
  }
  .column img {
    width: 100%;
  height: auto;
  }
  .desc {
    padding: 15px;
    text-align:center;
    text-emphasis-position:inherit;

  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }

/* login and signup */
.login-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.signup-form {
width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Chatbot */

  .chatbot-wrapper{
    display:flex;
    height:80vh;
  }

  #topics{

  }

.chat-wrapper{
  padding-left: 5px;
  width:100%;
  height: 70vh;
}

#messages{
  overflow-y: scroll;

  height:100%;
}

  .message-input{
    width:100%;
    border-radius: 0;
  }

  .human-message{
    width: fit-content;
    /*max-width:70%;*/
    text-align: right;
    background-color: #1a72e7;
    margin: 5px;
    padding: 5px;
    border-radius: 10px 10px 0px 10px;
    /*position:sticky;*/
    position:sticky;
    left:100%;
  }

.ai-message{
  width:fit-content;
  max-width:70%;
  background-color: #f06f0a;
  margin: 5px;
  padding: 5px;
  border-radius: 10px 10px 10px 0px;
}

.input-container{
  display:flex;
  flex-direction: row;
}
.submit-question{
  border-radius: 0 10px 10px 0;

}
.clear-history{
  border-radius: 10px 0 0 10px;
}

@media only screen and (max-width: 600px) {
  .chatbot-wrapper{
    flex-direction: column;
    text-align: center;
  }

  #topics-scroll{
    overflow-y: scroll;
    height:50px
  }
}

